#wrapper {
  display: flex;
  flex-direction: row;
}

#menu {
  height: 100%;
  width: 200px;


}

ul {
  list-style: none;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

#header {
  height: 60px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message {
  text-align: right;
  padding: 10px;
}


#footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;


}

#textbox {
  flex-grow: 1;
  height: 30px;
}

button {
  width: 60px;
  height: 30px;
}